{"swagger": "2.0", "info": {"title": "S-API API", "description": "API for all things concerning SPHINX S-API", "termsOfService": "https://sphinx.edgeneering.eu/", "contact": {"email": "sphinx@edgeneering.eu"}, "license": {"name": "BSD License"}, "version": "1.0.0"}, "host": "api.sphinx.edgeneering.eu", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/services/": {"get": {"operationId": "services_list", "description": "This endpoint returns all SPHINX available services via S-API", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Service"}}}}, "tags": ["services"]}, "parameters": []}, "/topics/": {"get": {"operationId": "topics_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ServiceTopicList"}}}}, "tags": ["topics"]}, "parameters": []}, "/topics/subscribe": {"post": {"operationId": "topics_subscribe_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ServiceTopic"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ServiceTopic"}}}, "tags": ["topics"]}, "parameters": []}, "/topics/subscribed": {"get": {"operationId": "topics_subscribed_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ServiceTopicSubscriptionList"}}}}, "tags": ["topics"]}, "parameters": []}, "/topics/unsubscribe": {"post": {"operationId": "topics_unsubscribe_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ServiceTopic"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ServiceTopic"}}}, "tags": ["topics"]}, "parameters": []}}, "definitions": {"Service": {"required": ["client_type", "authorization_grant_type", "created_at", "modified_at", "context", "external_id", "service_name", "base_url", "external_url", "application_ptr"], "type": "object", "properties": {"service_id": {"title": "Service_id", "type": "integer", "readOnly": true}, "client_id": {"title": "Client id", "type": "string", "maxLength": 100, "minLength": 1}, "redirect_uris": {"title": "Redirect uris", "description": "Allowed URIs list, space separated", "type": "string"}, "post_logout_redirect_uris": {"title": "Post logout redirect uris", "description": "Allowed Post Logout URIs list, space separated", "type": "string"}, "client_type": {"title": "Client type", "type": "string", "enum": ["confidential", "public"]}, "authorization_grant_type": {"title": "Authorization grant type", "type": "string", "enum": ["authorization-code", "implicit", "password", "client-credentials", "openid-hybrid"]}, "client_secret": {"title": "Client secret", "description": "Hashed on Save. Copy it now if this is a new secret.", "type": "string", "maxLength": 255}, "name": {"title": "Name", "type": "string", "maxLength": 255}, "skip_authorization": {"title": "Skip authorization", "type": "boolean"}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "updated": {"title": "Updated", "type": "string", "format": "date-time", "readOnly": true}, "algorithm": {"title": "Algorithm", "type": "string", "enum": ["", "RS256", "HS256"]}, "created_at": {"title": "Created at", "type": "string", "format": "date-time"}, "modified_at": {"title": "Modified at", "type": "string", "format": "date-time"}, "context": {"title": "Context", "type": "object"}, "external_id": {"title": "External ID", "description": "The service as known by the external API provider", "type": "string", "maxLength": 1024, "minLength": 1}, "service_name": {"title": "Nome", "description": "A human-readable name for the service being externalized", "type": "string", "maxLength": 1024, "minLength": 1}, "service_description": {"title": "Descrição", "description": "Some more text explaining what's the service about", "type": "string", "maxLength": 65536, "x-nullable": true}, "base_url": {"title": "Base URL", "description": "The URL prefix used by the third-party to map the service endpoint", "type": "string", "maxLength": 4096, "minLength": 1}, "external_url": {"title": "External URL", "description": "The external service's real base URL which will be called by S-API", "type": "string", "maxLength": 4096, "minLength": 1}, "active": {"title": "Activo?", "description": "If checked, the application is available for third-parties", "type": "boolean"}, "user": {"title": "User", "type": "integer", "x-nullable": true}, "application_ptr": {"title": "Application ptr", "type": "integer"}}}, "ServiceTopicList": {"required": ["created_at", "modified_at", "context"], "type": "object", "properties": {"created_at": {"title": "Created at", "type": "string", "format": "date-time"}, "modified_at": {"title": "Modified at", "type": "string", "format": "date-time"}, "context": {"title": "Context", "type": "object"}, "external_id": {"title": "External_id", "type": "string", "maxLength": 64, "x-nullable": true}, "broker_topic_id": {"title": "Broker_topic_id", "type": "string", "maxLength": 64, "x-nullable": true}, "url": {"title": "Url", "type": "string", "maxLength": 64, "x-nullable": true}, "topic_service": {"title": "Topic_service", "type": "integer", "x-nullable": true}}}, "ServiceTopic": {"required": ["service", "topic"], "type": "object", "properties": {"service": {"title": "Service", "type": "string", "maxLength": 256, "minLength": 1}, "topic": {"title": "Topic", "type": "string", "maxLength": 256, "minLength": 1}}}, "ServiceTopicSubscriptionList": {"required": ["created_at", "modified_at", "context"], "type": "object", "properties": {"created_at": {"title": "Created at", "type": "string", "format": "date-time"}, "modified_at": {"title": "Modified at", "type": "string", "format": "date-time"}, "context": {"title": "Context", "type": "object"}, "external_id": {"title": "External_id", "type": "string", "maxLength": 64, "x-nullable": true}, "person": {"title": "Pessoa", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "url": {"title": "Url", "type": "string", "maxLength": 64, "x-nullable": true}, "pid": {"title": "Process ID", "description": "If the topic subscription is valid, remove its process", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "topic": {"title": "Topic", "type": "integer", "x-nullable": true}}}}}